Source: zfsu
Section: utils
Priority: optional
Maintainer: Philipp Heckel <philipp.heckel@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/binwiederhier/zfsu

Package: zfsu
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, debian-zfs | ubuntu-zfs, mbuffer, pigz
Description: Collection of ZFS tools
 Includes various ZFS specific tools. In particular:
  - zfstx: Pull/mirror ZFS snapshots from a remote host
  - zfsret: Destroy local snapshots by keeping a certain number
  - zfsres: Enable slow ZFS mirror and wait for it to resilver

